{% extends "base.html" %}
{% block head %}
	{{ super() }}
    <title>{%block title %}首页{% endblock %}</title>
{% endblock %}
{% block bodystyle%}id="index_body"{% endblock %}
{% block body %}
	{{ super() }}
	<div id="headline">	
	</div>
	<div id="tingxuetiyu-main">
		<div class="match">
			<img src="static/img/icon1.png">
			<div class="bisai">
				<div class="top">
					<p>德甲</p>
					<p>第37轮</p>
				</div>
				<div class="bottom">
					<p>轮次</p>
					<img src="static/img/icon3.png">
				</div>
			</div>
			<div class="bifen">
				<div class="top">
					<p>5-12 22:15</p>
					<img src="static/img/icon4.png">
				</div>
				<div class="bottom">
					<p>沙尔克04</p>
					<p>1:0</p>
					<p>法兰克福</p>
				</div>
			</div>
			<div class="bifen">
				<div class="top">
					<p>5-12 22:15</p>
					<img src="static/img/icon4.png">
				</div>
				<div class="bottom">
					<p>沙尔克04</p>
					<p>1:0</p>
					<p>法兰克福</p>
				</div>
			</div>
			<div class="bifen">
				<div class="top">
					<p>5-12 22:15</p>
					<img src="static/img/icon4.png">
				</div>
				<div class="bottom">
					<p>沙尔克04</p>
					<p>1:0</p>
					<p>法兰克福</p>
				</div>
			</div>
			<div class="bifen">
				<div class="top">
					<p>5-12 22:15</p>
					<img src="static/img/icon4.png">
				</div>
				<div class="bottom">
					<p>沙尔克04</p>
					<p>1:0</p>
					<p>法兰克福</p>
				</div>
			</div>
			<div class="bifen">
				<div class="top">
					<p>5-12 22:15</p>
					<img src="static/img/icon4.png">
				</div>
				<div class="bottom">
					<p>沙尔克04</p>
					<p>1:0</p>
					<p>法兰克福</p>
				</div>
			</div>
			<div class="bifen">
				<div class="top">
					<p>5-12 22:15</p>
					<img src="static/img/icon4.png">
				</div>
				<div class="bottom">
					<p>沙尔克04</p>
					<p>1:0</p>
					<p>法兰克福</p>
				</div>
			</div>
			<div class="bifen">
				<div class="top">
					<p>5-12 22:15</p>
					<img src="static/img/icon4.png">
				</div>
				<div class="bottom">
					<p>沙尔克04</p>
					<p>1:0</p>
					<p>法兰克福</p>
				</div>
			</div>
			<div class="bifen">
				<div class="top">
					<p>5-12 22:15</p>
					<img src="static/img/icon4.png">
				</div>
				<div class="bottom">
					<p>沙尔克04</p>
					<p>1:0</p>
					<p>法兰克福</p>
				</div>
			</div>
			<div class="bifen">
				<div class="top">
					<p>5-12 22:15</p>
					<img src="static/img/icon4.png">
				</div>
				<div class="bottom">
					<p>沙尔克04</p>
					<p>1:0</p>
					<p>法兰克福</p>
				</div>
			</div>
			<div class="bifen">
				<div class="top">
					<p>5-12 22:15</p>
					<img src="static/img/icon4.png">
				</div>
				<div class="bottom">
					<p>沙尔克04</p>
					<p>1:0</p>
					<p>法兰克福</p>
				</div>
			</div>
			<span><img src="static/img/icon2.png"></span>
		</div>
		<div class="content">
			<div class="left">
				<div class="top">
					<h2>—— 热门联赛 ——</h2>
					<ul>
						<li><img src="static/img/4.png">世界杯</li>
						<li><img src="static/img/4.png">中超</li>
						<li><img src="static/img/4.png">英超</li>
						<li><img src="static/img/4.png">西甲</li>
						<li><img src="static/img/4.png">德甲</li>
						<li><img src="static/img/4.png">意甲</li>
						<li><img src="static/img/4.png">法甲</li>
						<li><img src="static/img/4.png">欧冠杯</li>
						<li><img src="static/img/4.png">亚洲预选</li>
						<li><img src="static/img/4.png">欧洲杯</li>
					</ul>
				</div>
                <div class="bottom">
                    <ul class="mmmmm">

                    </ul>
                </div>

			</div>
			<div class="middle">
				<div class="Guidemap">
					<div class="Big">
						<img src="static/img/2.jpg">
					</div>
					<div class="Mask">
						<img src="static/img/5.png">
					</div>
					<h4>乌迪内斯0-4国米 伊卡尔迪破门拉菲尼亚加盟首球</h4>
					<div class="spot">
						<img src="static/img/icon6.png">
						<img src="static/img/icon7.png">
						<img src="static/img/icon6.png">
						<img src="static/img/icon6.png">
					</div>
				</div>
				<div class="title">
					<div class="date">
						<h5 class="yestoday">昨日(165)</h5>
						<h5 class="Appoint">今日(165)</h5>
						<h5 class="tommo">明日(165)</h5>
						<h6>选择日期</h6>
					</div>
					<div class="time">
						<h5 class="Appoint">时间排序</h5>
						<h5>赛事排序</h5>
					</div>
				</div>
				<div class="text">
					<div class="top">
						<div class="team _isend_top_team">

						</div>
					</div>
					<div class="Finished">
						<span><img src="static/img/icon12.png"></span>
						<h6>已结束的比赛</h6>
					</div>
					<div class="bottom">
						<div class="team _isend_bottom_team">

						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="top">
					<h5>足球积分榜</h5>
					<h6><span class="yingchao">英超</span> <em>|</em> <p class="yijia"> 意甲 </p> <em>|</em> <p class="xijia">西甲</p> <em>|</em> <p class="dejia">德甲</p> <em>|</em> <p class="fajia">法甲</p></h6>
				</div>
				<div class="bottom _team">
					<div class="line">
						<p class="first">排名</p>
						<p class="Second">球队</p>
						<p class="Third">胜平负</p>
						<p class="Fourth">积分</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(function(){



            $.ajax({
                 url : '/data/coun',
                 type : "get",
                 datatype:'json',
                 success: function (data)
                 {
                        for(var i=0; i<data.length;i++)
                        {
                           var kkkk='<li><input type="hidden" class="ddddd" value="'+data[i]["id"]+'"><p class="obtain" >'+data[i]["name"]+'</p><div class="secondary"></div></li>';
                           $(".bottom .mmmmm").append(kkkk);
                        }
                 }
            });


            $(".secondary").hide();


			requss('英超');
			$(".yingchao").click(function(){
				$(".yingchao").css('color','#e30000');
				$(".yijia").css('color','#666');
				$(".xijia").css('color','#666');
				$(".dejia").css('color','#666');
				$(".fajia").css('color','#666');
				$("._team").empty();
				requss('英超');
			});
			$(".yijia").click(function(){
				$(".yijia").css('color','#e30000');
				$(".yingchao").css('color','#666');
				$(".xijia").css('color','#666');
				$(".dejia").css('color','#666');
				$(".fajia").css('color','#666');
				$("._team").empty();
				requss('意甲');
			});
			$(".xijia").click(function(){
				$(".xijia").css('color','#e30000');
				$(".yingchao").css('color','#666');
				$(".yijia").css('color','#666');
				$(".dejia").css('color','#666');
				$(".fajia").css('color','#666');
				$("._team").empty();
				requss('西甲');
			});
			$(".dejia").click(function(){
				$(".dejia").css('color','#e30000');
				$(".yingchao").css('color','#666');
				$(".yijia").css('color','#666');
				$(".xijia").css('color','#666');
				$(".fajia").css('color','#666');
				$("._team").empty();
				requss('德甲');
			});
			$(".fajia").click(function(){
				$(".fajia").css('color','#e30000');
				$(".yingchao").css('color','#666');
				$(".yijia").css('color','#666');
				$(".xijia").css('color','#666');
				$(".dejia").css('color','#666');
				$("._team").empty();
				requss('法甲');
			});
		});

			function requss($count)
  	    	{
			$.ajax({
				 url : '/data/score?lsname='+$count,
				 type : "get",
				 datatype:'json',
				 success: function (data)
				 	{
					 for(var i=0; i<data.length;i++)
						 {
						 $("._team").append('<div class="line" id='+data[i]["id"]+'>'+
							'<p class="first">'+(i+1)+'</p>'+
							'<p class="Second">'+data[i]["teamname"]+'</p>'+
							'<p class="Third">'+data[i]["wtimes"]+'/'+data[i]["etimes"]+'/'+data[i]["ltimes"]+'</p>'+
							'<p class="Fourth">'+data[i]["score"]+'</p>'+
						 '</div>')
						 }
				 	}
				});
			}

  	    	requ('2018-05-28',1,50);

  	    	//今日球队比赛
  	    	$(".yestoday").click(function(){
  	    		$(".yestoday").css('color','red');
  	    		$(".Appoint").css('color','#666');
  	    		$(".Appoint:hover").css('color','red');
  	    		$(".tommo").css('color','#666');
  	    		$(".tommo:hover").css('color','red');
  	    		$("._isend_bottom_team").empty();
  	    		$("._isend_top_team").empty();
  	    		requ('2018-05-27',1,50);
  	    	});

  	    	$(".Appoint").click(function(){
  	    		$(this).css('color','red');
  	    		$(".yestoday").css('color','#666');
  	    		$(".yestoday:hover").css('color','red');
  	    		$(".tommo").css('color','#666');
  	    		$(".tommo:hover").css('color','red');
  	    		$("._isend_bottom_team").empty();
  	    		$("._isend_top_team").empty();
  	    		requ('2018-05-28',1,50);
  	    	});

  	    	$(".tommo").click(function(){
  	    		$(this).css('color','red');
  	    		$(".yestoday").css('color','#666');
  	    		$(".yestoday:hover").css('color','red');
  	    		$(".Appoint").css('color','#666');
  	    		$(".Appoint:hover").css('color','red');
  	    		$("._isend_bottom_team").empty();
  	    		$("._isend_top_team").empty();
  	    		requ('2018-05-29',1,50);
  	    	});


  	    //封装ajax请求数据
  	    function requ(date,page,num)
  	    {
  	    	$.ajax({
				 url : '/data/match?date='+ date +'&pageindex='+ page +'&num='+ num,
				 type : "get",
				 datatype:'json',
				 success: function (data)
				 {
					 for(var i=0; i<data.length;i++)
						 {

							if(data[i]['isend'] ==1 )
							{
								var htm1='<ul>'+
								'<li class="first"><img src="static/img/icon8.png"></li>'+
								'<li class="Second">'+data[i]["mdate"]+'</li>'+
								'<li class="Third">'+data[i]["lmname"]+'</li>'+
								'<li class="Fourth">已结束</li>'+
								'<li class="Fifth">'+data[i]["mtname"]+'</li>'+
								'<li class="Sixth"><img src="static/img/icon9.png"></li>'+
								'<li class="Seventh">'+data[i]["jq"]+':'+data[i]["sq"]+'</li>'+
								'<li class="Eighth"><img src="static/img/icon9.png"></li>'+
								'<li class="Ninth">'+data[i]["lmname"]+'</li>'+
								'<li class="Tenth"><img src="static/img/icon10.png"></li>'+
								'<li class="Twelfth"><img src="static/img/icon11.png"></li>'+
							'</ul>';
								$("._isend_bottom_team").append(htm1);
							}else
							{
								var htm2='<ul>'+
								'<li class="first"><img src="static/img/icon8.png"></li>'+
								'<li class="Second">'+data[i]["mdate"]+'</li>'+
								'<li class="Third">'+data[i]["lmname"]+'</li>'+
								'<li class="Fourth">未</li>'+
								'<li class="Fifth">'+data[i]["mtname"]+'</li>'+
								'<li class="Sixth"><img src="static/img/icon9.png"></li>'+
								'<li class="Seventh">'+data[i]["jq"]+':'+data[i]["sq"]+'</li>'+
								'<li class="Eighth"><img src="static/img/icon9.png"></li>'+
								'<li class="Ninth">'+data[i]["lmname"]+'</li>'+
								'<li class="Tenth"><img src="static/img/icon10.png"></li>'+
								'<li class="Twelfth"><img src="static/img/icon11.png"></li>'+
							'</ul>';
								$("._isend_top_team").append(htm1);
							}
						 }
				 }
  	    	});
  	    }


            $(document).on('click','.obtain',function(){
                var _this=$(this);
                 _this.next().text('');
                 _this.parent().siblings().find(".obtain").next().hide();
                 _this.next().toggle(function(){
                    $.ajax({
                         url : '/data/lmatch?cid='+_this.prev('input').val(),
                         type : "get",
                         datatype:'json',
                         success: function (data)
                         {
                                for(var i=0; i<data.length;i++)
                                {
                                   _this.next().append('<p class="bbbbcc">'+data[i]["name"]+'</p>');
                                }
                         }

                    })

              })

            });

            <!--$(document).on('click','.obtain',function(){-->
                    <!--var _this=$(this);-->
                        <!--_this.next().text('');-->
                        <!--$.ajax({-->
                             <!--url : '/data/lmatch?cid='+$(this).prev('input').val(),-->
                             <!--type : "get",-->
                             <!--datatype:'json',-->
                             <!--success: function (data)-->
                             <!--{-->
                                    <!--for(var i=0; i<data.length;i++)-->
                                    <!--{-->
                                       <!--_this.next().append('<p class="bbbbcc">'+data[i]["name"]+'</p>');-->
                                    <!--}-->

                             <!--}-->
                        <!--})-->

            <!--})-->





	</script>
{% endblock %}

