<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>听雪体育-英超</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<script type="text/javascript" src="/static/js/jQuery.js"></script>
	<script type="text/javascript" src="/static/js/jQuery.min.js"></script>
</head>

<body id="yingchao_body">
	<div id="top-title">
		<h1>悉尼FC <span>对战</span> 阿德莱德联</h1>
	</div>
	<header id="header">
		<div class="center">
			<h1 class="logo">听雪体育</h1>
			<nav class="link">
				<ul class="Label">
					<li><a href="{{ url_for('main.index', _external=True) }}">首页</a></li>
					<li><a href="{{ url_for('main.worldcup', _external=True) }}">2018世界杯</a></li>
					<li class="active"><a href="{{ url_for('main.yingchao', _external=True) }}">英超</a></li>
					<li><a href="###">西甲</a></li>
					<li><a href="###">德甲</a></li>
					<li><a href="###">意甲</a></li>
					<li><a href="###">法甲</a></li>
					<li><a href="###">亚冠</a></li>
					<li><a href="###">欧冠</a></li>
					<li><a href="###">中超</a></li>
					<li><a href="###">APP下载</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div id="headline_yingchao">	
	</div>
	<div id="Schedule_world">
		<div class="title">
			<ul>
				<li class="Appoint"><a href="{{ url_for('main.yingchao', _external=True) }}">赛程赛果</a></li>
				<li>联赛积分</li>
				<li>让球盘路</li>
				<li>大小球盘路</li>
				<li>比分统计</li>
				<li>半全场胜负</li>
				<li>进球单双数统计</li>
				<li>净胜/净负球</li>
				<li>上下半场进球统计</li>
			</ul>
		</div>
	</div>
	<div id="yingchao_main_pareent">
		<div id="yingchao_main">
			<div class="yingchao_main_con">
				<div class="left">
						<div class="top">
							<h3>西甲联赛</h3>
							<h5>轮次</h5>
							<div class="Rota">
								<span>01</span>
								<span>02</span>
								<span>03</span>
								<span>04</span>
								<span>05</span>
								<span>06</span>
								<span>07</span>
								<span>08</span>
								<span>09</span>
								<span>10</span>
								<span>11</span>
								<span>12</span>
								<span>13</span>
								<span>14</span>
								<span>15</span>
								<span>16</span>
								<span>17</span>
								<span>18</span>
								<span>19</span>
								<span>20</span>
								<span>21</span>
								<span>22</span>
								<span>23</span>
								<span>24</span>
								<span>25</span>
								<span>26</span>
								<span>27</span>
								<span>28</span>
								<span>29</span>
								<span>30</span>
								<span>31</span>
								<span>32</span>
								<span>33</span>
								<span>34</span>
								<span>35</span>
								<span>36</span>
								<span>37</span>
								<span class="Select">38</span>
							</div>
						</div>
						<div class="bottom">
							<div class="title">
								<h4>当前赛事</h4>
							</div>
							<div class="match_content">
								<table width="920px" class="match_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="header">
											<th>比赛时间</th>
											<th>轮次</th>
											<th>状态</th>
											<th>
												<span class="zhu">主队</span>
												<em>比分</em>
												<span class="ke">客队</span>
											</th>
											<th>赛果</th>
											<th>平均欧指</th>
											<th>分析</th>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="match_main">
								<table class="table_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="tr1">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>1:2</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>胜</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
										<tr class="tr2">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>2:0</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>负</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
				<div class="right">
					<div class="score">
						<h4>英超积分榜</h4>
					</div>
					<div class="title">
						<p class="first">排名</p>
						<p class="second">球队</p>
						<p class="third">胜平负</p>
						<p class="fourth">积分</p>
					</div>
					<div class="name">
						<p class="first">1</p>
						<p class="second">曼彻斯特城</p>
						<p class="third">38/4/2</p>
						<p class="fourth">100</p>
					</div>
				</div>
			</div>
			<div class="yingchao_main_con">
				<div class="left">
						<div class="top">
							<h3>西甲联赛</h3>
							<h5>轮次</h5>
							<div class="Rota">
								<span>01</span>
								<span>02</span>
								<span>03</span>
								<span>04</span>
								<span>05</span>
								<span>06</span>
								<span>07</span>
								<span>08</span>
								<span>09</span>
								<span>10</span>
								<span>11</span>
								<span>12</span>
								<span>13</span>
								<span>14</span>
								<span>15</span>
								<span>16</span>
								<span>17</span>
								<span>18</span>
								<span>19</span>
								<span>20</span>
								<span>21</span>
								<span>22</span>
								<span>23</span>
								<span>24</span>
								<span>25</span>
								<span>26</span>
								<span>27</span>
								<span>28</span>
								<span>29</span>
								<span>30</span>
								<span>31</span>
								<span>32</span>
								<span>33</span>
								<span>34</span>
								<span>35</span>
								<span>36</span>
								<span>37</span>
								<span class="Select">38</span>
							</div>
						</div>
						<div class="bottom">
							<div class="title">
								<h4>当前赛事</h4>
							</div>
							<div class="match_content">
								<table width="920px" class="match_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="header">
											<th>比赛时间</th>
											<th>轮次</th>
											<th>状态</th>
											<th>
												<span class="zhu">主队</span>
												<em>比分</em>
												<span class="ke">客队</span>
											</th>
											<th>赛果</th>
											<th>平均欧指</th>
											<th>分析</th>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="match_main">
								<table class="table_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="tr1">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>1:2</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>胜</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
										<tr class="tr2">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>2:0</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>负</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
				<div class="right">
					<div class="score">
						<h4>英超积分榜</h4>
					</div>
					<div class="title">
						<p class="first">排名</p>
						<p class="second">球队</p>
						<p class="third">胜平负</p>
						<p class="fourth">积分</p>
					</div>
					<div class="name">
						<p class="first">1</p>
						<p class="second">曼彻斯特城</p>
						<p class="third">38/4/2</p>
						<p class="fourth">100</p>
					</div>
				</div>
			</div>
			<div class="yingchao_main_con yingchao_main_show">
				<div class="League_points_cont League_points_show">
					<div class="left">
						<div class="top">
							<h3>英超联赛</h3>
							<h5>轮次</h5>
							<div class="Rota">
								<span>01</span>
								<span>02</span>
								<span>03</span>
								<span>04</span>
								<span>05</span>
								<span>06</span>
								<span>07</span>
								<span>08</span>
								<span>09</span>
								<span>10</span>
								<span>11</span>
								<span>12</span>
								<span>13</span>
								<span>14</span>
								<span>15</span>
								<span>16</span>
								<span>17</span>
								<span>18</span>
								<span>19</span>
								<span>20</span>
								<span>21</span>
								<span>22</span>
								<span>23</span>
								<span>24</span>
								<span>25</span>
								<span>26</span>
								<span>27</span>
								<span>28</span>
								<span>29</span>
								<span>30</span>
								<span>31</span>
								<span>32</span>
								<span>33</span>
								<span>34</span>
								<span>35</span>
								<span>36</span>
								<span>37</span>
								<span class="Select">38</span>
							</div>
						</div>
						<div class="bottom">
							<div class="title">
								<h4>当前赛事</h4>
							</div>
							<div class="match_content">
								<table width="920px" class="match_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="header">
											<th>比赛时间</th>
											<th>轮次</th>
											<th>状态</th>
											<th>
												<span class="zhu">主队</span>
												<em>比分</em>
												<span class="ke">客队</span>
											</th>
											<th>赛果</th>
											<th>平均欧指</th>
											<th>分析</th>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="match_main">
								<table class="table_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="tr1">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>1:2</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>胜</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
										<tr class="tr2">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>2:0</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>负</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
					<div class="right _yingchao">
					<div class="score">
						<h4>英超积分榜</h4>
					</div>
					<div class="title">
						<p class="first">排名</p>
						<p class="second">球队</p>
						<p class="third">胜平负</p>
						<p class="fourth">积分</p>
					</div>

				</div>
				</div>
				<div class="League_points_cont">
					<div class="title">
						<table class="int_title" border="0" cellpadding="0" cellspacing="0">
							<colgroup>
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
							</colgroup>
							<tbody>
								<tr>
									<th>排名</th>
									<th>球队</th>
									<th>已塞场数</th>
									<th>胜场数</th>
									<th>平场数</th>
									<th>负场数</th>
									<th>进球数</th>
									<th>失球数</th>
									<th>净胜球数</th>
									<th>积分</th>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="team">
						<table class="int_team" border="0" cellspacing="0" cellpadding="0">
							<colgroup>
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
								<col width="128" />
							</colgroup>
							<tbody class="yingchao_tbody">

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="yingchao_main_con">
				<div class="left">
						<div class="top">
							<h3>西甲联赛</h3>
							<h5>轮次</h5>
							<div class="Rota">
								<span>01</span>
								<span>02</span>
								<span>03</span>
								<span>04</span>
								<span>05</span>
								<span>06</span>
								<span>07</span>
								<span>08</span>
								<span>09</span>
								<span>10</span>
								<span>11</span>
								<span>12</span>
								<span>13</span>
								<span>14</span>
								<span>15</span>
								<span>16</span>
								<span>17</span>
								<span>18</span>
								<span>19</span>
								<span>20</span>
								<span>21</span>
								<span>22</span>
								<span>23</span>
								<span>24</span>
								<span>25</span>
								<span>26</span>
								<span>27</span>
								<span>28</span>
								<span>29</span>
								<span>30</span>
								<span>31</span>
								<span>32</span>
								<span>33</span>
								<span>34</span>
								<span>35</span>
								<span>36</span>
								<span>37</span>
								<span class="Select">38</span>
							</div>
						</div>
						<div class="bottom">
							<div class="title">
								<h4>当前赛事</h4>
							</div>
							<div class="match_content">
								<table width="920px" class="match_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="header">
											<th>比赛时间</th>
											<th>轮次</th>
											<th>状态</th>
											<th>
												<span class="zhu">主队</span>
												<em>比分</em>
												<span class="ke">客队</span>
											</th>
											<th>赛果</th>
											<th>平均欧指</th>
											<th>分析</th>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="match_main">
								<table class="table_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="tr1">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>1:2</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>胜</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
										<tr class="tr2">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>2:0</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>负</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
				<div class="right _xijia">
					<div class="score">
						<h4>西甲积分榜</h4>
					</div>
					<div class="title">
						<p class="first">排名</p>
						<p class="second">球队</p>
						<p class="third">胜平负</p>
						<p class="fourth">积分</p>
					</div>
				</div>
				</div>
			<div class="yingchao_main_con">
				<div class="left">
						<div class="top">
							<h3>德甲联赛</h3>
							<h5>轮次</h5>
							<div class="Rota">
								<span>01</span>
								<span>02</span>
								<span>03</span>
								<span>04</span>
								<span>05</span>
								<span>06</span>
								<span>07</span>
								<span>08</span>
								<span>09</span>
								<span>10</span>
								<span>11</span>
								<span>12</span>
								<span>13</span>
								<span>14</span>
								<span>15</span>
								<span>16</span>
								<span>17</span>
								<span>18</span>
								<span>19</span>
								<span>20</span>
								<span>21</span>
								<span>22</span>
								<span>23</span>
								<span>24</span>
								<span>25</span>
								<span>26</span>
								<span>27</span>
								<span>28</span>
								<span>29</span>
								<span>30</span>
								<span>31</span>
								<span>32</span>
								<span>33</span>
								<span class="Select">34</span>
							</div>
						</div>
						<div class="bottom">
							<div class="title">
								<h4>当前赛事</h4>
							</div>
							<div class="match_content">
								<table width="920px" class="match_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="header">
											<th>比赛时间</th>
											<th>轮次</th>
											<th>状态</th>
											<th>
												<span class="zhu">主队</span>
												<em>比分</em>
												<span class="ke">客队</span>
											</th>
											<th>赛果</th>
											<th>平均欧指</th>
											<th>分析</th>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="match_main">
								<table class="table_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="tr1">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>1:2</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>胜</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
										<tr class="tr2">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>2:0</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>负</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
				<div class="right _dejia">
					<div class="score">
						<h4>德甲积分榜</h4>
					</div>
					<div class="title">
						<p class="first">排名</p>
						<p class="second">球队</p>
						<p class="third">胜平负</p>
						<p class="fourth">积分</p>
					</div>
				</div>
			</div>
			<div class="yingchao_main_con">
				<div class="left">
						<div class="top">
							<h3>意甲联赛</h3>
							<h5>轮次</h5>
							<div class="Rota">
								<span>01</span>
								<span>02</span>
								<span>03</span>
								<span>04</span>
								<span>05</span>
								<span>06</span>
								<span>07</span>
								<span>08</span>
								<span>09</span>
								<span>10</span>
								<span>11</span>
								<span>12</span>
								<span>13</span>
								<span>14</span>
								<span>15</span>
								<span>16</span>
								<span>17</span>
								<span>18</span>
								<span>19</span>
								<span>20</span>
								<span>21</span>
								<span>22</span>
								<span>23</span>
								<span>24</span>
								<span>25</span>
								<span>26</span>
								<span>27</span>
								<span>28</span>
								<span>29</span>
								<span>30</span>
								<span>31</span>
								<span>32</span>
								<span>33</span>
								<span>34</span>
								<span>35</span>
								<span>36</span>
								<span>37</span>
								<span class="Select">38</span>
							</div>
						</div>
						<div class="bottom">
							<div class="title">
								<h4>当前赛事</h4>
							</div>
							<div class="match_content">
								<table width="920px" class="match_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="header">
											<th>比赛时间</th>
											<th>轮次</th>
											<th>状态</th>
											<th>
												<span class="zhu">主队</span>
												<em>比分</em>
												<span class="ke">客队</span>
											</th>
											<th>赛果</th>
											<th>平均欧指</th>
											<th>分析</th>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="match_main">
								<table class="table_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="tr1">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>1:2</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>胜</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
										<tr class="tr2">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>2:0</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>负</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
				<div class="right _yijia">
					<div class="score">
						<h4>意甲积分榜</h4>
					</div>
					<div class="title">
						<p class="first">排名</p>
						<p class="second">球队</p>
						<p class="third">胜平负</p>
						<p class="fourth">积分</p>
					</div>
				</div>
			</div>
			<div class="yingchao_main_con">
				<div class="left">
						<div class="top">
							<h3>法甲联赛</h3>
							<h5>轮次</h5>
							<div class="Rota">
								<span>01</span>
								<span>02</span>
								<span>03</span>
								<span>04</span>
								<span>05</span>
								<span>06</span>
								<span>07</span>
								<span>08</span>
								<span>09</span>
								<span>10</span>
								<span>11</span>
								<span>12</span>
								<span>13</span>
								<span>14</span>
								<span>15</span>
								<span>16</span>
								<span>17</span>
								<span>18</span>
								<span>19</span>
								<span>20</span>
								<span>21</span>
								<span>22</span>
								<span>23</span>
								<span>24</span>
								<span>25</span>
								<span>26</span>
								<span>27</span>
								<span>28</span>
								<span>29</span>
								<span>30</span>
								<span>31</span>
								<span>32</span>
								<span>33</span>
								<span>34</span>
								<span>35</span>
								<span>36</span>
								<span>37</span>
								<span class="Select">38</span>
							</div>
						</div>
						<div class="bottom">
							<div class="title">
								<h4>当前赛事</h4>
							</div>
							<div class="match_content">
								<table width="920px" class="match_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="header">
											<th>比赛时间</th>
											<th>轮次</th>
											<th>状态</th>
											<th>
												<span class="zhu">主队</span>
												<em>比分</em>
												<span class="ke">客队</span>
											</th>
											<th>赛果</th>
											<th>平均欧指</th>
											<th>分析</th>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="match_main">
								<table class="table_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="tr1">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>1:2</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>胜</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
										<tr class="tr2">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>2:0</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>负</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
				<div class="right _fajia">
					<div class="score">
						<h4>法甲积分榜</h4>
					</div>
					<div class="title">
						<p class="first">排名</p>
						<p class="second">球队</p>
						<p class="third">胜平负</p>
						<p class="fourth">积分</p>
					</div>
				</div>
			</div>
			<div class="yingchao_main_con">
				<div class="left">
						<div class="top">
							<h3>亚冠</h3>
							<h5>轮次</h5>
							<div class="Rota">
								<span>01</span>
								<span>02</span>
								<span>03</span>
								<span>04</span>
								<span>05</span>
								<span>06</span>
								<span>07</span>
								<span>08</span>
								<span>09</span>
								<span>10</span>
								<span>11</span>
								<span>12</span>
								<span>13</span>
								<span>14</span>
								<span>15</span>
								<span>16</span>
								<span>17</span>
								<span>18</span>
								<span>19</span>
								<span>20</span>
								<span>21</span>
								<span>22</span>
								<span>23</span>
								<span>24</span>
								<span>25</span>
								<span>26</span>
								<span>27</span>
								<span>28</span>
								<span>29</span>
								<span>30</span>
								<span>31</span>
								<span>32</span>
								<span>33</span>
								<span>34</span>
								<span>35</span>
								<span>36</span>
								<span>37</span>
								<span class="Select">38</span>
							</div>
						</div>
						<div class="bottom">
							<div class="title">
								<h4>当前赛事</h4>
							</div>
							<div class="match_content">
								<table width="920px" class="match_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="header">
											<th>比赛时间</th>
											<th>轮次</th>
											<th>状态</th>
											<th>
												<span class="zhu">主队</span>
												<em>比分</em>
												<span class="ke">客队</span>
											</th>
											<th>赛果</th>
											<th>平均欧指</th>
											<th>分析</th>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="match_main">
								<table class="table_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="tr1">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>1:2</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>胜</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
										<tr class="tr2">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>2:0</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>负</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
				<div class="right">
					<div class="score">
						<h4>英超积分榜</h4>
					</div>
					<div class="title">
						<p class="first">排名</p>
						<p class="second">球队</p>
						<p class="third">胜平负</p>
						<p class="fourth">积分</p>
					</div>
					<div class="name">
						<p class="first">1</p>
						<p class="second">曼彻斯特城</p>
						<p class="third">38/4/2</p>
						<p class="fourth">100</p>
					</div>
				</div>
			</div>
			<div class="yingchao_main_con">
				<div class="left">
						<div class="top">
							<h3>欧冠</h3>
							<h5>轮次</h5>
							<div class="Rota">
								<span>01</span>
								<span>02</span>
								<span>03</span>
								<span>04</span>
								<span>05</span>
								<span>06</span>
								<span>07</span>
								<span>08</span>
								<span>09</span>
								<span>10</span>
								<span>11</span>
								<span>12</span>
								<span>13</span>
								<span>14</span>
								<span>15</span>
								<span>16</span>
								<span>17</span>
								<span>18</span>
								<span>19</span>
								<span>20</span>
								<span>21</span>
								<span>22</span>
								<span>23</span>
								<span>24</span>
								<span>25</span>
								<span>26</span>
								<span>27</span>
								<span>28</span>
								<span>29</span>
								<span>30</span>
								<span>31</span>
								<span>32</span>
								<span>33</span>
								<span>34</span>
								<span>35</span>
								<span>36</span>
								<span>37</span>
								<span class="Select">38</span>
							</div>
						</div>
						<div class="bottom">
							<div class="title">
								<h4>当前赛事</h4>
							</div>
							<div class="match_content">
								<table width="920px" class="match_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="header">
											<th>比赛时间</th>
											<th>轮次</th>
											<th>状态</th>
											<th>
												<span class="zhu">主队</span>
												<em>比分</em>
												<span class="ke">客队</span>
											</th>
											<th>赛果</th>
											<th>平均欧指</th>
											<th>分析</th>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="match_main">
								<table class="table_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="tr1">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>1:2</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>胜</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
										<tr class="tr2">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>2:0</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>负</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
				<div class="right">
					<div class="score">
						<h4>英超积分榜</h4>
					</div>
					<div class="title">
						<p class="first">排名</p>
						<p class="second">球队</p>
						<p class="third">胜平负</p>
						<p class="fourth">积分</p>
					</div>
					<div class="name">
						<p class="first">1</p>
						<p class="second">曼彻斯特城</p>
						<p class="third">38/4/2</p>
						<p class="fourth">100</p>
					</div>
				</div>
			</div>
			<div class="yingchao_main_con">
				<div class="left">
						<div class="top">
							<h3>中超联赛</h3>
							<h5>轮次</h5>
							<div class="Rota">
								<span>01</span>
								<span>02</span>
								<span>03</span>
								<span>04</span>
								<span>05</span>
								<span>06</span>
								<span>07</span>
								<span>08</span>
								<span>09</span>
								<span>10</span>
								<span>11</span>
								<span>12</span>
								<span>13</span>
								<span>14</span>
								<span>15</span>
								<span>16</span>
								<span>17</span>
								<span>18</span>
								<span>19</span>
								<span>20</span>
								<span>21</span>
								<span>22</span>
								<span>23</span>
								<span>24</span>
								<span>25</span>
								<span>26</span>
								<span>27</span>
								<span>28</span>
								<span>29</span>
								<span class="Select">30</span>
							</div>
						</div>
						<div class="bottom">
							<div class="title">
								<h4>当前赛事</h4>
							</div>
							<div class="match_content">
								<table width="920px" class="match_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="header">
											<th>比赛时间</th>
											<th>轮次</th>
											<th>状态</th>
											<th>
												<span class="zhu">主队</span>
												<em>比分</em>
												<span class="ke">客队</span>
											</th>
											<th>赛果</th>
											<th>平均欧指</th>
											<th>分析</th>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="match_main">
								<table class="table_cont" border="0" cellspacing="0" cellpadding="0">
									<colgroup>
										<col width="150" />
										<col width="82" />
										<col width="82" />
										<col width="268" />
										<col width="60" />
										<col width="210" />
										<col width="68" />
									</colgroup>
									<tbody>
										<tr class="tr1">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>1:2</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>胜</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
										<tr class="tr2">
											<td>2018-05-13 22:00</td>
											<td>英超38轮</td>
											<td>已结束</td>
											<td>
												<span class="zhu">西汉姆联</span>
												<em>2:0</em>
												<span class="ke">艾佛顿</span>
											</td>
											<td>负</td>
											<td>
												<p>2.30</p>
												<p>2.30</p>
												<p>2.30</p>
											</td>
											<td>析</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
				<div class="right _zhongchao">
					<div class="score">
						<h4>中超积分榜</h4>
					</div>
					<div class="title">
						<p class="first">排名</p>
						<p class="second">球队</p>
						<p class="third">胜平负</p>
						<p class="fourth">积分</p>
					</div>
				</div>
			</div>
			<div class="yingchao_main_con">
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="top">
			<div class="link">
				<h2>友情链接</h2>
				<ul class="link1">
					<li>极速体育</li>
					<li>比分直播</li>
					<li>足球比分</li>
					<li>天下足球网</li>
					<li>QQ直播网</li>
				</ul>
				<ul class="link1">
					<li>极速体育</li>
					<li>比分直播</li>
					<li>足球比分</li>
					<li>天下足球网</li>
					<li>QQ直播网</li>
				</ul>
				<ul class="link1">
					<li>极速体育</li>
					<li>比分直播</li>
					<li>足球比分</li>
					<li>天下足球网</li>
					<li>QQ直播网</li>
				</ul>
				<ul class="link1">
					<li>极速体育</li>
					<li>比分直播</li>
					<li>足球比分</li>
					<li>天下足球网</li>
					<li>QQ直播网</li>
				</ul>
				<ul class="link1">
					<li>极速体育</li>
					<li>比分直播</li>
				</ul>
			</div>
			<div class="right">
				<div class="map">
					<h2>网站地图</h2>
					<ul class="Football">
						<li class="first">足球：</li>
						<li>足球比分</li>
						<li>足球比分</li>
						<li>足球比分</li>
						<li>足球比分</li>
					</ul>
					<ul class="Football">
						<li class="first">足球：</li>
						<li>足球比分</li>
						<li>足球比分</li>
						<li>足球比分</li>
						<li>足球比分</li>
						<li class="first">足球比分</li>
						<li class="Last"><img src="static/img/icon13.png"></li>
					</ul>
				</div>
				<div class="contact">
					<h2>联系方式</h2>
					<ul class="user">
						<li>用户服务：service@leisu.com</li>
						<li>合作邮箱：hezuo@leisu.com</li>
						<li>客服：800830816</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="content">
				<p>沪 ICP 备  15052255 号-1  |  Copyright @ 2015-2016 leisu.ALL Rights Reserved  |  关于雷速  |  免责声明  |  网站地图  |  联系方式  |  免费比分调用</p>	
			</div>
		</div>
	</footer>

	<script>
		$(function(){
  	    	$(".Label > li").click(function(){
  	    		var index = $(this).index();
				$(this).addClass("active").siblings().removeClass("active");
				$(".yingchao_main_con").eq(index).addClass("yingchao_main_show").siblings().removeClass("yingchao_main_show");
  	    	});
  	    });

  	    $(function(){
  	    	$("#Schedule_world > .title > ul > li").click(function(){
  	    		var index = $(this).index();
				$(this).addClass("Appoint").siblings().removeClass("Appoint");
				$(".League_points_cont").eq(index).addClass("League_points_show").siblings().removeClass("League_points_show");
  	    	});
  	    });


		$(function(){
			$.ajax({
			 url : 'http://127.0.0.1:5000/data/score?lsname=%E8%8B%B1%E8%B6%85',
			 type : "get",
			 datatype:'json',
			 success: function (data) {
			 for(var i=0; i<data.length;i++)
				 {
					 if(i%2==0)
					 {
						 $(".yingchao_tbody").append('<tr class="tr1">'+
							'<td>'+(i+1)+'</td>'+
							'<td>'+data[i]["teamname"]+'</td>'+
							'<td>'+data[i]["mtimes"]+'</td>'+
							'<td>'+data[i]["wtimes"]+'</td>'+
							'<td>'+data[i]["etimes"]+'</td>'+
							'<td>'+data[i]["ltimes"]+'</td>'+
							'<td>0</td>'+
							'<td>0</td>'+
							'<td>0</td>'+
							'<td>'+data[i]["score"]+'</td>'+
						'</tr>')
					 }
					 else{
						 $(".yingchao_tbody").append('<tr class="tr2">'+
							'<td>'+(i+1)+'</td>'+
							'<td>'+data[i]["teamname"]+'</td>'+
							'<td>'+data[i]["mtimes"]+'</td>'+
							'<td>'+data[i]["wtimes"]+'</td>'+
							'<td>'+data[i]["etimes"]+'</td>'+
							'<td>'+data[i]["ltimes"]+'</td>'+
							'<td>0</td>'+
							'<td>0</td>'+
							'<td>0</td>'+
							'<td>'+data[i]["score"]+'</td>'+
						'</tr>')
						}
					}
				}
			 });
		});




  	    $(function(){
  	    	$.ajax({
  	    		url:'http://127.0.0.1:5000/data/score?lsname=%E8%8B%B1%E8%B6%85',
  	    		type:"get",
  	    		datatype:'json',
  	    		success: function(data)
  	    		{
  	    			for(var i=0; i<data.length;i++)
  	    			{
  	    				 $("._yingchao").append('<div class="name">'+
						'<p class="first">'+(i+1)+'</p>'+
						'<p class="second">'+data[i]["teamname"]+'</p>'+
						'<p class="third">'+data[i]["wtimes"]+'/'+data[i]["etimes"]+'/'+data[i]["ltimes"]+'</p>'+
						'<p class="fourth">'+data[i]["score"]+'</p>'+
					'</div>')
  	    			}
  	    		}
  	    	});
  	    	$.ajax({
  	    		url:'http://127.0.0.1:5000/data/score?lsname=%E8%A5%BF%E7%94%B2',
  	    		type:"get",
  	    		datatype:'json',
  	    		success: function(data)
  	    		{
  	    			for(var i=0; i<data.length;i++)
  	    			{
  	    				 $("._xijia").append('<div class="name">'+
						'<p class="first">'+(i+1)+'</p>'+
						'<p class="second">'+data[i]["teamname"]+'</p>'+
						'<p class="third">'+data[i]["wtimes"]+'/'+data[i]["etimes"]+'/'+data[i]["ltimes"]+'</p>'+
						'<p class="fourth">'+data[i]["score"]+'</p>'+
					'</div>')
  	    			}
  	    		}
  	    	});
  	    	$.ajax({
  	    		url:'http://127.0.0.1:5000/data/score?lsname=%E5%BE%B7%E7%94%B2',
  	    		type:"get",
  	    		datatype:'json',
  	    		success: function(data)
  	    		{
  	    			for(var i=0; i<data.length;i++)
  	    			{
  	    				 $("._dejia").append('<div class="name">'+
						'<p class="first">'+(i+1)+'</p>'+
						'<p class="second">'+data[i]["teamname"]+'</p>'+
						'<p class="third">'+data[i]["wtimes"]+'/'+data[i]["etimes"]+'/'+data[i]["ltimes"]+'</p>'+
						'<p class="fourth">'+data[i]["score"]+'</p>'+
					'</div>')
  	    			}
  	    		}
  	    	});
  	    	$.ajax({
  	    		url:'http://127.0.0.1:5000/data/score?lsname=%E6%84%8F%E7%94%B2',
  	    		type:"get",
  	    		datatype:'json',
  	    		success: function(data)
  	    		{
  	    			for(var i=0; i<data.length;i++)
  	    			{
  	    				 $("._yijia").append('<div class="name">'+
						'<p class="first">'+(i+1)+'</p>'+
						'<p class="second">'+data[i]["teamname"]+'</p>'+
						'<p class="third">'+data[i]["wtimes"]+'/'+data[i]["etimes"]+'/'+data[i]["ltimes"]+'</p>'+
						'<p class="fourth">'+data[i]["score"]+'</p>'+
					'</div>')
  	    			}
  	    		}
  	    	});
  	    	$.ajax({
  	    		url:'http://127.0.0.1:5000/data/score?lsname=%E6%B3%95%E7%94%B2',
  	    		type:"get",
  	    		datatype:'json',
  	    		success: function(data)
  	    		{
  	    			for(var i=0; i<data.length;i++)
  	    			{
  	    				 $("._fajia").append('<div class="name">'+
						'<p class="first">'+(i+1)+'</p>'+
						'<p class="second">'+data[i]["teamname"]+'</p>'+
						'<p class="third">'+data[i]["wtimes"]+'/'+data[i]["etimes"]+'/'+data[i]["ltimes"]+'</p>'+
						'<p class="fourth">'+data[i]["score"]+'</p>'+
					'</div>')
  	    			}
  	    		}
  	    	});
  	    	$.ajax({
  	    		url:'http://127.0.0.1:5000/data/score?lsname=%E4%B8%AD%E8%B6%85',
  	    		type:"get",
  	    		datatype:'json',
  	    		success: function(data)
  	    		{
  	    			for(var i=0; i<data.length;i++)
  	    			{
  	    				 $("._zhongchao").append('<div class="name">'+
						'<p class="first">'+(i+1)+'</p>'+
						'<p class="second">'+data[i]["teamname"]+'</p>'+
						'<p class="third">'+data[i]["wtimes"]+'/'+data[i]["etimes"]+'/'+data[i]["ltimes"]+'</p>'+
						'<p class="fourth">'+data[i]["score"]+'</p>'+
					'</div>')
  	    			}
  	    		}
  	    	});
  	    });
	</script>
</body>
</html>